@font-face {
	font-family: 'Diablo Heavy';
	font-style: normal;
	font-weight: normal;
	src: local('Diablo Heavy'), url('font/diablo.woff') format('woff');
	}

* {
	margin: 0;
	padding: 0;
	font-family: 'Diablo Heavy';
	color: #A18E73;
}

#loginPlayArea {
	position: absolute;
	background-image: url("../image/heros.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 400px;
	width: 600px;
	left: calc(50vw - 300px);
	top: calc(50vh - 200px);
	border: solid;
	border-width: 4px;
	border-color: #A18E73;
}

.form-input {
	margin-bottom: 5px;
}

input {
	background-color: #0A0101;
	padding: 5px;
	border-width: 3px;
	border-color: #A18E73;
}

button {
	border-width: 3px;
	border-color: #A18E73;
	color: #0A0101;
	background-color: rgb(175, 156, 130);
}

.zoneEntre {
	width: 200px;
	margin: auto;
	position: absolute;
	left: 200px;
	bottom: 50px;
}

.ZoneChat {
	position: absolute;
	bottom: 0;
	left: 0;
}

canvas {
	background-image: url("../image/backgroundMenu.png");
}