@font-face {
	font-family: 'Diablo Heavy';
	font-style: normal;
	font-weight: normal;
	src: local('Diablo Heavy'), url('font/diablo.woff') format('woff');
	}

* {
	margin: 0;
	padding: 0;
	font-family: 'Diablo Heavy';
	color: #A18E73;
}

#loginPlayArea {
	position: absolute;
	background-image: url("../image/heros.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 400px;
	width: 600px;
	left: calc(50vw - 300px);
	top: calc(50vh - 200px);
	border: solid;
	border-width: 4px;
	border-color: #A18E73;
}

.form-input {
	margin-bottom: 5px;
}

input {
	background-color: #0A0101;
	padding: 5px;
	border-width: 3px;
	border-color: #A18E73;
}

button {
	border-width: 3px;
	border-color: #A18E73;
	color: #0A0101;
	background-color: rgb(175, 156, 130);
}

.zoneEntre {
	width: 200px;
	margin: auto;
	position: absolute;
	left: 200px;
	bottom: 50px;
}

.ZoneChat {
	position: absolute;
	bottom: 0;
	left: 0;
}

.BoutonImage {
	width: 40px;
	height: 40px;
}

canvas {
	background-image: url("../image/backgroundMenu.png");
}

/*ZONE TEMPLATE CARTE*/

.carte {
	background-image: url(../image/backgroundMenu.png);
	width: 136px;
	height: 184px;
	background-size: cover;
	position: relative;
}

.CarteSurface {
	background-image: url(../image/Carte.png);
	width: 100%;
	height: 100%;
	background-size: cover;
}

.zoneAttaque {
	position: absolute;
	left: 17%;
	bottom: 7%;
	font-size: 16px;
}

.zoneVie {
	position: absolute;
	right: 10%;
	bottom: 7%;
	font-size: 16px;
}

.zoneMechanic {
	position: absolute;
	top: 60%;
	left: 30%;
	width: 40%;
	font-size: 6px;
}

.zoneSprite {
	position: absolute;
	width: 40%;
	height: 30%;
	left: 30%;
	top: 12%;
}

.zoneCost {
	top: 0;
	right: 4%;
	position: absolute;
}

.zoneUID {
	display: none;
}

/* FIN DE TEMPLATE CARTE */


#zoneMain {
	display: flex;
	justify-content: space-around;
	height: 184px;
	width: 50%;
	position: absolute;
	bottom: 5%;
	left: 20%;
}

#zoneJoueur {
	display: flex;
	justify-content: space-around;
	height: 184px;
	width: 60%;
	position: absolute;
	top: 50%;
	left: 15%;
}

#zoneMainOpponent {
	display: flex;
}

#zoneOpponent {
	display: flex;
	justify-content: space-around;
	height: 184px;
	width: 70%;
	position: absolute;
	top: 15%;
	left: 15%;
}

#Board {
	background-image: url("../image/board.jpg");
	background-size: cover;
	position: relative;
	width: 100vw;
	height: 100vh;
}

#vieJoueur {
	background-image: url("../image/life.PNG");
	background-size: cover;
	position: absolute;
	width: 11vw;
	height: 9vw;
	bottom: 0;
	left: 10vw;
}

#vieJoueur>p {
	position: absolute;
	bottom: 4.5vw;
	left: 5.5vw;
	font-size: 32px;
}

#manaJoueur {
	background-image: url("../image/mana.PNG");
	background-size: cover;
	position: absolute;
	width: 10vw;
	height: 10vw;
	bottom: 0;
	right: 10vw;
}

#actionZone {
	background-image: url("../image/greyTexture.PNG");
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	width: 10vw;
	height: 9vw;
	bottom: 0;
	right: 0;
}

#actionZone button {
	width: 8vw;
	height: 1.5vw;
}

#portrait {
	background-image: url("../image/greyTexture.PNG");
	position: absolute;
	width: 10vw;
	height: 8vw;
	bottom: 0;
	left: 0;
}



#manaJoueur>p {
	position: absolute;
	bottom: 4.5vw;
	right: 4.5vw;
	font-size: 32px;
}

#opponentInfo {
	background-image: url("../image/greyTexture.PNG");
	position: absolute;
	top: 0;
	left: 0;
	width: 10vw;
	height: 10vw;
}

#manaOpponent {
	background-image: url("../image/mana.PNG");
	background-size: cover;
	position: absolute;
	width: 2.5vw;
	height: 2.5vw;
	bottom: 0;
	right: 0;
}

#manaOpponent>p {
	position: absolute;
	bottom: 1vw;
	right: 1vw;
}

#vieOpponent {
	background-image: url("../image/life.PNG");
	background-size: cover;
	position: absolute;
	width: 2.75vw;
	height: 2.25vw;
	bottom: 0;
	left: 0;
}

#vieOpponent>p {
	position: absolute;
	bottom: 1vw;
	left: 1vw;
}

#portraitOpponent {
	background-color: black;
	position: absolute;
	background-size: cover;
	width: 7vw;
	height: 6vw;
	left: 1.5vw;
	top: 1.5vw;
}

#SERVER_MESSAGE {
	display: none;
	padding-top: 40vh;
	text-align: center;
	font-size: 42px;
	color: black;
}

#WAITING {
	display: none;
	background-image: url("../image/waiting.gif");
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}