@font-face {
	font-family: 'Diablo Heavy';
	font-style: normal;
	font-weight: normal;
	src: local('Diablo Heavy'), url('font/diablo.woff') format('woff');
	}

* {
	margin: 0;
	padding: 0;
	font-family: 'Diablo Heavy';
	color: #A18E73;
}

#loginPlayArea {
	position: absolute;
	background-image: url("../image/heros.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 400px;
	width: 600px;
	left: calc(50vw - 300px);
	top: calc(50vh - 200px);
	border: solid;
	border-width: 4px;
	border-color: #A18E73;
}

.form-input {
	margin-bottom: 5px;
}

input {
	background-color: #0A0101;
	padding: 5px;
	border-width: 3px;
	border-color: #A18E73;
}

button {
	border-width: 3px;
	border-color: #A18E73;
	color: #0A0101;
	background-color: rgb(175, 156, 130);
}

.zoneEntre {
	width: 200px;
	margin: auto;
	position: absolute;
	left: 200px;
	bottom: 50px;
}

.ZoneChat {
	position: absolute;
	bottom: 0;
	left: 0;
}

.BoutonImage {
	width: 40px;
	height: 40px;
}

canvas {
	background-image: url("../image/backgroundMenu.png");
}

/*ZONE TEMPLATE CARTE*/

.carte {
	background-image: url(../image/backgroundMenu.png);
	width: 136px;
	height: 184px;
	background-size: cover;
	position: relative;
}

.CarteSurface {
	background-image: url(../image/Carte.png);
	width: 100%;
	height: 100%;
	background-size: cover;
}

.zoneAttaque {
	position: absolute;
	left: 17%;
	bottom: 7%;
	font-size: 16px;
}

.zoneVie {
	position: absolute;
	right: 5%;
	bottom: 7%;
	font-size: 16px;
}

.zoneMechanic {
	position: absolute;
	top: 60%;
	left: 30%;
	width: 40%;
	font-size: 6px;
}

.zoneSprite {
	position: absolute;
	width: 40%;
	height: 30%;
	left: 30%;
	top: 12%;
}

.zoneUID {
	display: none;
}

/* FIN DE TEMPLATE CARTE */


#zoneMain {
	display: flex;
	justify-content: space-around;
	height: 184px;
	width: 60%;
	position: absolute;
	bottom: 5%;
	left: 15%;
}

#zoneJoueur {
	display: flex;
	justify-content: space-around;
	height: 184px;
	width: 60%;
	position: absolute;
	top: 60%;
	left: 15%;
}

#zoneMainOpponent {
	display: flex;
}

#zoneOpponent {
	display: flex;
	justify-content: space-around;
	height: 184px;
	width: 70%;
	position: absolute;
	top: 15%;
	left: 15%;
}

#Board {
	background-image: url("../image/board.jpg");
	background-size: cover;
	width: 100vw;
	height: 100vh;
}